<div class="login-container">
  <h1>P H A R M A R T</h1>
</div>
<div class="login-container">
  <mat-card class="card-size card-elements">
    <mat-card-header class="card-header">
      <mat-card-title class="title-margin">
        <span class="card-title green-text">R E G I S T E R</span>
        <span class="card-title"> | </span>
        <span class="card-title orange-text">L O G I N</span>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <form class="example-form">
        <mat-form-field class="max-width">
          <mat-label>username</mat-label>
          <input matInput name="username" [(ngModel)]="userRequest.username" required>
        </mat-form-field>
        <mat-form-field class="max-width">
          <mat-label>password</mat-label>
          <input type="password" matInput name="password" [(ngModel)]="userRequest.password" required>
        </mat-form-field>
      </form>
      <p *ngIf="message" class="{{message.color}}">{{message.message}}</p>
    </mat-card-content>
    <mat-card-actions class="card-actions" align="end">
      <div class="button-container">
        <button mat-raised-button (click)="register()" class="page-margin green-bg" type="submit">
          R E G I S T E R
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-stroked-button (click)="login()" class="orange-bg">
          L O G I N
          <mat-icon>login</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
