<mat-toolbar class="primary-color nav-color">
  <button mat-button routerLink="/" class="nav-text">
    <span>Dashboard</span>
    <mat-icon>apps</mat-icon>
  </button>
  <button mat-button routerLink="/marketplace" class="nav-text">
    <span>Marketplace</span>
    <mat-icon>store</mat-icon>
  </button>
  <button mat-button routerLink="/inventory" class="nav-text">
    <span>Inventory</span>
    <mat-icon>storage</mat-icon>
  </button>
  <span class="nav-space"></span>
  <button mat-button class="nav-text">
    <span>Pharmart</span>
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
