<mat-toolbar *ngIf="user" class="dark-grey-bg white-text">
  <button mat-button routerLink="/dashboard" class="nav-text">
    <span>D A S H B O A R D</span>
    <mat-icon>apps</mat-icon>
  </button>
  <button mat-button routerLink="/marketplace" class="nav-text">
    <span>M A R K E T P L A C E</span>
    <mat-icon>store</mat-icon>
  </button>
  <button mat-button routerLink="/inventory" class="nav-text">
    <span>I N V E N T O R Y</span>
    <mat-icon>storage</mat-icon>
  </button>
  <span class="nav-space"></span>
  <button mat-button  routerLink="/" class="nav-text" (click)="logout()">
    <span>P H A R M A R T</span>
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
