.card-size {
  max-width: 400px;
  height: 95%;
}

.card-title {
  font-weight: bold;
  font-size: large;
}

.card-header {
  height: 13%;
}

.card-content {
  height: 27%;
  font-size: medium;
}

.card-actions {
  height: 10%;
}

.card-image {
  height: 50%;
  min-height: 275px;
}
