html, body { height: 100%; }

@font-face {
  font-family: 'RobotoBold';
  src: url('./assets/RobotoSlab-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoThin';
  src: url('./assets/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish';
  src: url('./assets/Mulish-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'MulishLight';
  src: url('./assets/Mulish-ExtraLight.ttf') format('truetype');
}

body { margin: 0; font-family: 'Mulish', sans-serif; }

.roboto-bold {
  font-family: 'RobotoBold', sans-serif !important;
}

.roboto-thin {
  font-family: 'RobotoThin', sans-serif !important;
}

.mulish {
  font-family: 'Mulish', sans-serif !important;
}

.mulish-light {
  font-family: 'MulishLight', sans-serif !important;
}

.bold-roboto {
  font-family: 'RobotoBold', sans-serif !important;

}
.page-margin {
  margin-left: 16px;
  margin-right: 16px;
}

.page-title {
  font-size: 48px;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.page-container {
  width: 100%;
}

.button-container {
  padding-bottom: 16px;
  padding-right: 16px;
}

.red-text {
  color: #e71d36 !important;
}

.green-text {
  color: #1eb980 !important;
}

.one-third-of-viewport {
  width: 33.33vw;
}

.white-text {
  color: rgba(255, 255, 255, 0.811) !important;
}

.primary-bg {
  background-color: #c9a0dc !important;
}

.primary-text {
  color: #c9a0dc !important;
}

.accent-bg {
  background-color: #b483c0 !important;
}

.accent-text {
  color: #b483c0 !important;
}

/* .primary-bg {
  background-color: #ff8e71 !important;
}

.primary-text {
  color: #ff8e71 !important;
}

.accent-bg {
  background-color: #ff6b6b  !important;
}

.accent-text {
  color: #ff6b6b  !important;
}
 */
