html, body { height: 100%; }

@font-face {
  font-family: 'RobotoBold'; /* You can choose a name for the font */
  src: url('./assets/RobotoSlab-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoThin'; /* You can choose a name for the font */
  src: url('./assets/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish'; /* You can choose a name for the font */
  src: url('./assets/Mulish-VariableFont_wght.ttf') format('truetype');
}

body { margin: 0; font-family: 'Mulish', sans-serif; }

.roboto-bold {
  font-family: 'RobotoBold', sans-serif !important;
}

.roboto-thin {
  font-family: 'RobotoThin', sans-serif !important;
}

.mulish {
  font-family: 'Mulish', sans-serif !important;
}

.page-margin {
  margin-left: 16px;
  margin-right: 16px;
}

.page-title {
  font-size: 48px;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.page-container {
  width: 100%;
}

.button-container {
  padding-bottom: 16px;
}

.orange-bg {
  background-color: #f9aa33 !important
}

.red-bg {
  background-color: #e71d36 !important;
}

.green-bg {
  background-color: #1eb980 !important;
}

.orange-text {
  color: #f9aa33 !important
}

.red-text {
  color: #e71d36 !important;
}

.green-text {
  color: #1eb980 !important;
}

.one-third-of-viewport {
  width: 33.33vw;
}
