<h1 mat-dialog-title>Add New Item</h1>
<div>
  <form #addItemForm="ngForm" enctype="multipart/form-data" (ngSubmit)="addItem()">
    <div mat-dialog-content>
      <p>
        <mat-form-field appearance="fill" class="one-third-of-viewport">
          <mat-label>Name</mat-label>
          <input matInput name="name" [(ngModel)]="itemRequest.name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="one-third-of-viewport">
          <mat-label>Description</mat-label>
          <input matInput name="description" [(ngModel)]="itemRequest.description">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="one-third-of-viewport">
          <mat-label>Quantity</mat-label>
          <input matInput name="quantity" [(ngModel)]="itemRequest.stock">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="one-third-of-viewport">
          <mat-label>Price</mat-label>
          <input matInput name="price" [(ngModel)]="itemRequest.price">
        </mat-form-field>
      </p>
      <div class="drop-area" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
        <p>Drag and drop an image here, or click to select one.</p>
        <p>{{imageName}}</p>
      </div>
    </div>
    <mat-dialog-actions align="end">
      <div class="button-container">
        <button mat-stroked-button mat-dialog-close>
          Cancel
          <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button mat-dialog-close type="submit">
          Add
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>
