<h1 class="primary-bg mulish" mat-dialog-title>ADD NEW ITEM</h1>
<div>
  <form #addItemForm="ngForm" enctype="multipart/form-data" (ngSubmit)="addItem()">
    <div mat-dialog-content>
      <p>
        <mat-form-field appearance="fill" class="fill">
          <mat-label class="mulish">Name</mat-label>
          <input matInput name="name" [(ngModel)]="itemRequest.name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="fill">
          <mat-label class="mulish">Description</mat-label>
          <input matInput name="description" [(ngModel)]="itemRequest.description">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="fill">
          <mat-label class="mulish">Quantity</mat-label>
          <input type=number matInput name="quantity" [(ngModel)]="itemRequest.stock">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="fill">
          <mat-label class="mulish">Price <i>(in php)</i></mat-label>
          <input type=number matInput name="price" [(ngModel)]="itemRequest.price">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="fill">
          <mat-label class="mulish">Commission (%)</mat-label>
          <input type=number matInput name="commission" [(ngModel)]="itemRequest.commission">
        </mat-form-field>
      </p>
      <div class="drop-area one-third-of-viewport" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
        <p class="mulish">DRAG AND DROP AN IMAGE HERE.</p>
        <p class="mulish"><i>{{imageName}}</i></p>
      </div>
    </div>
    <mat-dialog-actions align="end">
      <div class="button-container">
        <button mat-stroked-button mat-dialog-close class="mulish">
          CANCEL
          <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button mat-dialog-close class="accent-bg mulish" type="submit">
          ADD
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>
