<div class="page-margin">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container *ngFor="let column of getColumns()" [matColumnDef]="column.columnDef">
        <th class="mulish" mat-header-cell *matHeaderCellDef>{{column.header}}</th>
        <td class="mulish" mat-cell *matCellDef="let row">{{column.cell(row)}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="mulish" mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="mulish" mat-cell *matCellDef="let row">
          <button class="accent-text" mat-icon-button (click)="subQuantity(row)">
            <mat-icon>remove</mat-icon>
          </button>
          <button class="accent-text" mat-icon-button (click)="addQuantity(row)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'red-text': shouldHighlight(row)}"></tr>
    </table>
  </div>
</div>
